html, body {
    height: 100%;
    overflow: auto;

    font-size: 18px;
    color: whitesmoke;
    font-weight: 400;

    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right 20px bottom 10px;
}

img {
    width: 90%;
    object-fit: cover;
}

.registration {
    background-size: 100%;
    background-position: 100% 25%;
    background-color: #A9CF54;
}

.container {
    height: 100%;
}

.form-group {
    margin-top: 15%;
    margin-bottom: 15%;
}

.text-center a {
    margin-top: 15%;
    margin-bottom: 15%;
}

.patient {
    background-color: #A9CF54;
}

.doctor {
    background-color: #80B9D7;
}

.drugStore {
    background-color: #E74C3C;
}

button.btn.btn-primary {
    background-color:#212529;
    color:#ffffff;
}
